.resultSectionContainer {
    text-align: center;
    h2 {
        padding: 25px 0;
    }
    .resultSection {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px 0;
        h3 {
            font-size: 1.8rem;
            padding: 10px;
        }
    }
}